<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/004/796/030/small/illustration-graphic-of-popcorn-logo-free-vector.jpg" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to 'Back Home', lists_path %>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
<%#
<h1>New List</h1>
<%= render 'form', list: @list %>




<div class="container">
  <div class="row">
    <div class="col col-m-4">
    </div>
    <div class="col col-m-4 mt-5">
      <h1>Add a list</h1>

      <%= simple_form_for [@list] do |f| %>
      <%= f.input :name %>
      <%= f.input :name, as: :file, label: "Background"%>
      <%= f.button :submit, "Finished", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
     <div class="col col-m-4">
     </div>
  </div>
</div>
